{% load static %}
<!-- Sidebar -->
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:dashboard' %}">
                    <i class="fas fa-home me-2"></i>
                    Dashboard
                </a>
            </li>
            {% if user.is_authenticated and user.role == 'hr' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jobs:jobs_list' %}">
                    <i class="fas fa-briefcase me-2"></i>
                    Jobs
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.role == 'recruiter' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resumes:resumes_list' %}">
                    <i class="fas fa-file-alt me-2"></i>
                    Resumes
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.role == 'hr' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'jobs:screening_jobs_list' %}">
                    <i class="fas fa-search me-2"></i>
                    Screening Results
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.role == 'recruiter' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resumes:flagged_resumes' %}">
                    <i class="fas fa-search me-2"></i>
                    Re-Screening
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>